<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Assembly" connectionString="data source=192.168.1.2;initial catalog=Assembly;user id=sa;password=DELTA1433;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Assembly1" connectionString="data source=192.168.1.2;initial catalog=Assembly;persist security info=True;user id=sa;password=DELTA1433;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Store" connectionString="data source=192.168.1.2;initial catalog=Store1;user id=sa;password=DELTA1433;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Store1" connectionString="data source=192.168.1.2;initial catalog=Store1;user id=sa;password=DELTA1433;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="StoreContext" connectionString="data source=192.168.1.2;initial catalog=Store1;user id=sa;password=DELTA1433;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BCSContext" connectionString="data source=192.168.1.2;initial catalog=BCS;persist security info=True;user id=sa;password=DELTA1433;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BCSContext1" connectionString="data source=192.168.1.2;initial catalog=BCS;persist security info=True;user id=sa;password=DELTA1433;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BCSContext2" connectionString="data source=192.168.1.2;initial catalog=BCS;persist security info=True;user id=sa;password=DELTA1433;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>